In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [121]:
data = pd.read_excel('CTG.xls', 'Raw Data')
data.head()




description = pd.read_excel('CTG.xls', 'Description', skiprows=5)
description.columns



description.head()
columnNames = description
columnNames = description[['Unnamed: 2', 'Unnamed: 3']]
columnNames = columnNames[:39]
columnNames = columnNames.T
columnNames # Obtained a columName df
data.head()
#data = data.drop('SegFile', 1) # Removed the column that wasn't common
data.head()


columnNames.T
data.head()

,FileName,Date,SegFile,b,e,LBE,LB,AC,FM,UC,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Variab10.txt,1996-12-01,CTG0001.txt,240.0,357.0,120.0,120.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,9.0,2.0
2,Fmcs_1.txt,1996-05-03,CTG0002.txt,5.0,632.0,132.0,132.0,4.0,0.0,4.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
3,Fmcs_1.txt,1996-05-03,CTG0003.txt,177.0,779.0,133.0,133.0,2.0,0.0,5.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0
4,Fmcs_1.txt,1996-05-03,CTG0004.txt,411.0,1192.0,134.0,134.0,2.0,0.0,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0

In [62]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
b,2126.0,878.439793,894.084748,0.0,55.0,538.0,1521.00,3296.0
e,2126.0,1702.877234,930.919143,287.0,1009.0,1241.0,2434.75,3599.0
LBE,2126.0,133.303857,9.840844,106.0,126.0,133.0,140.00,160.0
LB,2126.0,133.303857,9.840844,106.0,126.0,133.0,140.00,160.0
AC,2126.0,2.722484,3.560850,0.0,0.0,1.0,4.00,26.0
FM,2127.0,7.503056,39.030452,0.0,0.0,0.0,2.00,564.0
UC,2127.0,3.669017,2.877148,0.0,1.0,3.0,5.00,23.0
ASTV,2127.0,47.008933,17.210648,12.0,32.0,49.0,61.00,87.0
MSTV,2127.0,1.335449,0.891543,0.2,0.7,1.2,1.70,7.0
ALTV,2127.0,9.884814,18.476534,0.0,0.0,0.0,11.00,91.0
MLTV,2127.0,8.207616,5.701926,0.0,4.6,7.4,10.80,50.7
DL,2128.0,1.576128,2.517794,0.0,0.0,0.0,3.00,16.0
DS,2128.0,0.003759,0.061213,0.0,0.0,0.0,0.00,1.0
DP,2128.0,0.127820,0.471687,0.0,0.0,0.0,0.00,4.0
DR,2128.0,0.000000,0.000000,0.0,0.0,0.0,0.00,0.0
Width,2126.0,70.445908,38.955693,3.0,37.0,67.5,100.00,180.0
Min,2126.0,93.579492,29.560212,50.0,67.0,93.0,120.00,159.0
Max,2126.0,164.025400,17.944183,122.0,152.0,162.0,174.00,238.0
Nmax,2126.0,4.068203,2.949386,0.0,2.0,3.0,6.00,18.0
Nzeros,2126.0,0.323612,0.706059,0.0,0.0,0.0,0.00,10.0
Mode,2126.0,137.452023,16.381289,60.0,129.0,139.0,148.00,187.0
Mean,2126.0,134.610536,15.593596,73.0,125.0,136.0,145.00,182.0
Median,2126.0,138.090310,14.466589,77.0,129.0,139.0,148.00,186.0
Variance,2126.0,18.808090,28.977636,0.0,2.0,7.0,24.00,269.0
Tendency,2126.0,0.320320,0.610829,-1.0,0.0,0.0,1.00,1.0
A,2126.0,0.180621,0.384794,0.0,0.0,0.0,0.00,1.0
B,2126.0,0.272342,0.445270,0.0,0.0,0.0,1.00,1.0
C,2126.0,0.024929,0.155947,0.0,0.0,0.0,0.00,1.0
D,2126.0,0.038100,0.191482,0.0,0.0,0.0,0.00,1.0
E,2126.0,0.033866,0.180928,0.0,0.0,0.0,0.00,1.0
AD,2126.0,0.156162,0.363094,0.0,0.0,0.0,0.00,1.0
DE,2126.0,0.118532,0.323314,0.0,0.0,0.0,0.00,1.0
LD,2126.0,0.050329,0.218675,0.0,0.0,0.0,0.00,1.0
FS,2126.0,0.032455,0.177248,0.0,0.0,0.0,0.00,1.0
SUSP,2126.0,0.092662,0.290027,0.0,0.0,0.0,0.00,1.0
CLASS,2126.0,4.509878,3.026883,1.0,2.0,4.0,7.00,10.0
NSP,2126.0,1.304327,0.614377,1.0,1.0,1.0,1.00,3.0

In [118]:

# data = data.drop(data.NSP == np.nan ) # dropped NaN columns from NSP column

# data = data.replace('', np.nan,inplace=True) # Replacing any blank with NaN


# df1 = df[df.isnull().any(axis=1)] # Check to see if any of the cells contains a NaN cell


#Our Dataframe is now NaN free

In [122]:
data.columns

Index(['FileName', 'Date', 'SegFile', 'b', 'e', 'LBE', 'LB', 'AC', 'FM', 'UC',
       'ASTV', 'MSTV', 'ALTV', 'MLTV', 'DL', 'DS', 'DP', 'DR', 'Width', 'Min',
       'Max', 'Nmax', 'Nzeros', 'Mode', 'Mean', 'Median', 'Variance',
       'Tendency', 'A', 'B', 'C', 'D', 'E', 'AD', 'DE', 'LD', 'FS', 'SUSP',
       'CLASS', 'NSP'],
      dtype='object')

In [123]:
subset = data[['SegFile','A','B','C','D','E','AD','DE','LD','FS','SUSP','CLASS','NSP']]

subset_cols = ['A','B','C','D','E','AD','DE','LD','FS','SUSP','CLASS','NSP']


subset = subset.dropna()

In [136]:
#checking if there are duplicate classifications among segFiles
#Ideally each cell should return the value 1
all_cols_unique_classification = subset.groupby('SegFile').agg({col:'nunique' for col in subset})
all_cols_unique_classification

             C  AD  B  DE  A  NSP  FS  CLASS  E  D  SUSP  SegFile  LD
SegFile
CTG0001.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0002.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0003.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0004.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0005.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0006.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0007.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0008.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0009.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0010.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0011.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0012.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0013.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0014.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0015.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0016.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0017.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0018.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0019.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0020.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0021.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0022.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0023.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0024.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0025.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0026.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0027.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0028.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0029.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG0030.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
...         ..  .. ..  .. ..  ...  ..    ... .. ..   ...      ...  ..
CTG2099.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2100.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2101.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2102.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2103.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2104.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2105.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2106.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2107.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2108.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2109.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2110.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2111.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2112.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2113.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2114.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2115.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2116.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2117.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2118.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2119.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2120.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2121.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2122.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2123.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2124.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2125.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2126.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2127.txt  1   1  1   1  1    1   1      1  1  1     1        1   1
CTG2128.txt  1   1  1   1  1    1   1      1  1  1     1        1   1

[2126 rows x 13 columns]

In [137]:

# Checking if any cell returns value greater than 1
all_cols_unique_classification[(all_cols_unique_classification>1).any(axis=1)]

Empty DataFrame
Columns: [C, AD, B, DE, A, NSP, FS, CLASS, E, D, SUSP, SegFile, LD]
Index: []

In [149]:
subset_cols = ['A','B','C','D','E','AD','DE','LD','FS','SUSP','CLASS','NSP']

subset = subset[['A','B','C','D','E','AD','DE','LD','FS','SUSP','CLASS','NSP']].astype(int)
subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2126 entries, 1 to 2126
Data columns (total 12 columns):
A        2126 non-null int32
B        2126 non-null int32
C        2126 non-null int32
D        2126 non-null int32
E        2126 non-null int32
AD       2126 non-null int32
DE       2126 non-null int32
LD       2126 non-null int32
FS       2126 non-null int32
SUSP     2126 non-null int32
CLASS    2126 non-null int32
NSP      2126 non-null int32
dtypes: int32(12)
memory usage: 116.3 KB

In [152]:
subset.head()
# sns.set(color_codes=True)
# sns.distplot(subset)

   A  B  C  D  E  AD  DE  LD  FS  SUSP  CLASS  NSP
1  0  0  0  0  0   0   0   0   1     0      9    2
2  0  0  0  0  0   1   0   0   0     0      6    1
3  0  0  0  0  0   1   0   0   0     0      6    1
4  0  0  0  0  0   1   0   0   0     0      6    1
5  0  1  0  0  0   0   0   0   0     0      2    1